.c-blank-slate {
    align-items: center;
    color: var(--g-color-text);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10rem;
}

.c-blank-slate--large {
    height: 40rem;
}
