.c-loader-container {
    bottom: 0;
    background-color: var(--g-color-primary);
    opacity: 0.5;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.c-loader-container,
.c-loader {
    align-items: center;
    display: flex;
    justify-content: center;
}

.c-loader::after {
    border-radius: 50%;
    height: var(--g-loader-size);
    width: var(--g-loader-size);
    animation: spin 1s infinite linear;
    border: var(--g-spacing-2x-small) solid var(--g-color-secondary);
    border-top-color: var(--g-color-text);
    content: '';
}

.c-loader-container--alt.c-loader-container  {
    background-color: var(--g-color-secondary);
}

.c-loader-container--alt .c-loader::after {
    border-color: var(--g-color-primary);
    border-top-color: var(--g-color-text);
}
