.c-list {
    animation: opacity-fade-in 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s both;
}

.c-list__item {
    background-color: var(--g-color-primary);
    border-radius: 5px;
    margin-bottom: 0.5rem;
    position: relative;
    padding: 1rem;
}

.c-list__item--trigger {
    background-color: transparent;
    border: none;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.c-list__item--title,
.c-list__item--info {
    color: var(--g-color-text);
}

.c-list__item.is-active .c-list__item--info  {
    color: var(--g-color-highlight);
}
