.c-control-panel {
    background-color:var(--g-color-secondary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--g-spacing);
    height: 100%;
}

.c-control-panel__item--large {
    flex-grow: 1;

}

