.c-pagination {
    align-items: center;
    display: flex;
}

.c-pagination__summary {
    text-align: center;
    flex-grow: 1;
}

.c-pagination__button {
    color: var(--g-color-highlight);
}

.c-pagination__button-left {
    transform: rotate(180deg);
}

.c-pagination__button:disabled {
    color: var(--g-color-primary);
}

.c-pagination__title,
.c-pagination__info {
    color: var(--g-color-text);
}


.c-pagination__info {
    font-size: var(-g-font-size-small);
}
