.c-movie-list {
    animation: opacity-fade-in 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s both;
}

.c-movie-list-item {
    background-color: var(--g-color-primary);
    border-radius: var(--g-border-radius);
    display: flex;
    flex-direction: column;
    margin-bottom: var(--g-spacing-x-small);
    position: relative;
    padding: var(--g-spacing-x-small);
}

.c-movie-list-item:hover,
.c-movie-list-item:focus {
  opacity: 0.8;
}

.c-movie-list-item__title-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: var(--g-spacing-x-small);
}

.c-movie-list-item__title {
    flex-grow: 1;
}

.c-movie-list-item__info {
     color: var(--g-color-text);
    text-align: right;
    font-size: var(--g-font-size-small);
}

.c-movie-list-item__icon {
    color: var(--g-color-highlight);
    opacity: 0;
}

.c-movie-list-item.is-active .c-movie-list-item__icon  {
    opacity: 1;
}
