.l-layout {
    display: grid;
    grid-template-columns: 25% auto auto;
    grid-template-areas:
    'left right right'
    'left right right'
    'left right right';
}

.l-layout--left,
.l-layout--right {
    position: relative;
}


.l-layout--left {
    background-color:var(--g-color-secondary);
    grid-area: left;
}

.l-layout--right {
    background-color:var(--g-color-primary);
    grid-area: right;
}


p, h3 {
    color: var(--g-color-text);
}



