
.l-layout,
.c-movie-container {
    display: flex;
    height: 100vh;
}

.c-movie__item:first-child {
    margin-right: 1rem;
}

.c-list__item {
    margin-bottom: 0.5rem;
    position: relative;
}

.l-layout--left,
.l-layout--right,
.c-list__item {
    border: 2px solid grey;
    padding: 1rem;
}

.l-layout--left {
    margin-right: 1rem;
}

.l-layout--right {
    flex-grow: 1;
}

.c-input-container {
    margin-bottom: 1rem;
}

.c-list__item--trigger {
    background-color: transparent;
    border: none;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}




