.c-icon {
    display: block;
    height: var(--g-spacing-3x-large);
    width: var(--g-spacing-3x-large);
}

.c-icon--small {
    height: var(--g-spacing-x-large);
    width: var(--g-spacing-x-large);
}

.c-icon--x-small {
    height: var(--g-spacing-large);
    width: var(--g-spacing-large);
}

.c-icon--2x-small {
    height: var(--g-spacing);
    width: var(--g-spacing);
}
